*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
   height: 3px;
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(83, 79, 79); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #736f6f; 
  }

@font-face {
    font-family: 'Google-font';
    src: url(/assets/ProductSans-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(/assets/Roboto-Regular.ttf);
}
/* Global Start */
body{
    font-family: "Google-font", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;

}
/* Global End */


/* Header Nav Start */
header.global-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 66px;
    padding: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

.global-nav-left-part{
    flex-flow: row nowrap;
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    margin-left: 10px ;
    padding: 0.6rem 5px;
    padding-right: 10px;
}
.global-nav-left-part i{

    fill: #5f6368;
    cursor: pointer;
    border-radius: 50%;
    margin: auto;
    margin-right: 5px;
    padding: 11px 10px 10px 11px;
    width: 40px;
    height: 40px;
}
.global-nav-left-part i:hover{
    background-color: #ebecec;
}

.global-nav-left-part img {
    cursor: pointer;
    margin: auto;
}
.search-global{
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    font-size: 15px;
    color: #5f6368;
    background-color: #f1f3f4;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 1px;
}
 .search-global .glass{
    fill: #5f6368;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    margin: auto;
    margin-right: 5px;
    padding: 11px 10px 10px 11px;
}
.search-global .glass:hover{
    background-color: #ebecec;
}
.search-global input{
    width: 90%;
    padding: 0.6rem 0.3rem ;
    border: none;
    outline: none;
    background-color: #f1f3f4;
    font-size: 16px;
    font-weight: 200;
}
.slider{
    fill: #5f6368;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    margin: auto;
    margin-right: 5px;
    padding: 11px 10px 10px 11px;
    
}
.search-global .slider:hover{
    background-color: #ebecec;
}

.active-btn{
    display: flex;
    border-radius: 40px;
    border: 0.5px solid rgb(192, 192, 192);
    background-color: #fff;
    width: 98px;
    padding: 5px;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    margin-left: 1px;
    text-align: center;
    fill: #5f6368;
    cursor: pointer;
    background-color: #fff;   
}
.active-btn:hover{
    background-color: #ebecec;

}
.green-dot{
    color: #1E8E3E;
    margin: 5px;
    
}
.down{
    vertical-align:text-bottom;
    margin: 5px;

}
.global-nav-right-part{
    display: flex;
    flex: 0 0 20%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-start;
    margin-right: 1.2rem;
}
.global-nav-right-part svg{
    fill: #5f6368;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 0 1rem;
    width: 35px;
    height: 35px;
}
.global-nav-right-part svg:hover{
    background-color: #ebecec;
}

.profile{
    width: 35px;
    height: 35px;
    margin-left: 0.8rem;
    border-radius: 50%;
    
    cursor: pointer;
    fill: #5f6368;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 0 1rem;
    
}
.profile:hover{
    background-color: #ebecec;
}
/* Header End */

/* Main Section Start */
.flex-container{
    display: flex;
    flex-flow: row nowrap;
    width: 100%; 
}
.left-nav{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 19%;
    height: 88.7vh;
    position: sticky;
    top: 65px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.889rem;
    letter-spacing: 0.2px;
    background-color: #fff;
    padding-right: 10px;
}
.left-nav .compose{
    margin: 1rem 0.5rem 0 0;
    padding-left: 0.5rem;
    height: 12%;
}
.btn a{
    display: flex;
    width: 145px;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0.3rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.3);
    font-size: 0.900rem;
    background-color: #fff;
    border-radius: 24px;
    color: #3c4043;
    font-weight: 500;
    height: 47px;
    min-width: 56px;
    align-items: center;


}
.compose i{
    margin-top: 10px;
    width: 32px;
    height: 32px;
    margin-right: 10px ;
    margin-left: -13px;
}
.btn p{
    margin-top: -1px;
    color: red;
}

.left-nav .btn a:hover{
    background-color: #fafafb;
    box-shadow: 0px 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
}

.nav-list{
   height: 50%;
   margin-bottom:0;
   padding-bottom: 0;

}
.nav-list .mail-arrow{
    margin-bottom: 3px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 0px rgba(100, 121, 143, 0.122);
    position: sticky;
    top: 0;
    margin-top: 10px;
    
   }

.nav-list .mail-arrow h2 {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 0.7rem;
    cursor: pointer;
    position: sticky;
    background-color: white;
    
    
}
.nav-list .mail-arrow h2:hover{
    background-color: rgba(75, 75, 75, 0.1);

}
.nav-list .mail-arrow h2 i:hover{
    background-color: rgba(4, 4, 4, 0.1);
}
.left-nav .nav-list ul{
    list-style: none;
    height: 70%;
    overflow: hidden;
    line-height: 1.6rem;
}

.left-nav .nav-list ul:hover{
    overflow-y: scroll;
}

.nav-list ul li a{
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 1.6rem;
    width: 100%;
    color: #555;
    justify-content:flex-start;
    font-size: 14px;
    padding-bottom: 2px;
}
.nav-list a:hover{
    background-color: rgba(0,0,0,0.1);
    border-radius: 0px 25px 25px 0;
}
.left-nav .nav-list .important{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #d93025;
    font-weight: bold ;
    background-color: rgb(252, 232, 230);
    border-radius: 0 25px 25px 0;
    max-width: 240px;
}
.red-color{
    color: #d93025 !important;
}

.left-nav .nav-list a i{
    margin-right: 1.2rem;
    color: #767676;
    font-size: 1rem;
    margin-right: 1.2rem;

}
.nav-list .count{
    font-size: 0.8rem;
    padding-left: 90px;
}
/* Meet Section Start */


.meet{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 0px rgba(100, 121, 143, 0.122);
    padding: 0.5rem 0 0.5rem 1.5rem;
    padding: 0;
    
}
.left-nav .meet a{
    display: block;
    color: #555;
    font-size: 14px;
    padding-bottom: 7px;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.meet h2{
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 0.7rem;
    cursor: pointer;
  
}




.left-nav .meet a i{
    color: #767676;
    font-size: 1rem;
    margin-right: 1.2rem;
    text-align: center;

}
.meet a:hover{
    background-color: rgba(0,0,0,0.1);
    border-radius: 0px 25px 25px 0;
}



.left-nav .meet-arrow{
    margin-bottom: 3px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 0px rgba(100, 121, 143, 0.122);
   
   

   }

.left-nav .meet-arrow h2, .left-nav .hangouts h2 {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 0.7rem;
    cursor: pointer;
    background-color: white;
    
}

.left-nav .meet-arrow h2:hover{
    background-color: rgba(75, 75, 75, 0.1);

}
.left-nav .meet-arrow h2 i:hover{
    background-color: rgba(4, 4, 4, 0.1);
}


.left-nav .hangouts{
    padding: 0.5rem 0 1rem 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.left-nav .hangouts img{
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
}
.left-nav .user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hangouts a{
    margin-left: 37%;
}


.main-content{
    flex: 0 0 77%;
    width: 100%;
    max-width: 1100px;
    height: 100%;
}
.right-nav{
    flex: 0 0 4%;
    display: flex;
    height: 85vh;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #f1f3f4;
    padding-top: 1.5rem;
    position: sticky;
    top: 10vh;
    right: 0;
    background-color: #fff;
}



.col-1{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
}
.col-1 img{
    width: 20px;
    height: 20px;
    margin-bottom: 2rem;
}
.col-2{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #5f5757;
}
.main-content .content-nav{
    display: flex;
    background-color: white;
    flex-flow: row nowrap;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 10vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);

}
.main-content .content-nav .left-icons{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 14%;
    font-size: 13px;
    color: #7c7c7c;
}
.main-content .content-nav .right-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 14%;
    font-size: 14px;
    color: rgb(122, 122, 122);
    margin-right: 2rem;
   
}

/* Tabs Start */
[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    height: 46px;
 
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    font-size: 16px;
  }
  .tab i{
      margin-right: 20px;
  }
  
  .tab.active {
    background-color: #fff;
    color: red;
    border-bottom: 2px solid #d93025;
    
    
  }
 
  
  .tab:hover {
    background-color: rgb(237, 237, 237);
  }
  
  .tab-content {
    margin-left: 2px;
    margin-right: 2px;
    
  }
  
/* Tabs End */

/* Mail List */
.mail-list .mail-container{
    color: #202124 ;
    display: flex ;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 10px 0;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
}
.mail-list .mail-icons-left{
    display: flex;
    flex: 0 0 25%;
    min-width: 25%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}
.mail-list .mail-icons-left:first-child{
    margin-right: 1rem;
}
.mail-list .mail-icons-left i{
    color: rgba(0,0,0,0.5);
    align-self: center;
    font-size: 15px;
    padding-right: 1rem;
    cursor: pointer;
}
.mail-list .mail-container input{
    display: block;
    margin-right: 1rem;   
}
.mail-list .mail-content{
    flex-basis: 50%;
    flex-grow: 1;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.mail-list .title{
    font-size: 14px;
    line-height: 0.2px;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}
.mail-list .sub-text{
    width: 100%;
    font-weight: 400;
    cursor: pointer;
}
.mail-list .subject{
    cursor: pointer;
}
.mail-list .mail-container .mail-icons-right{
    color: #5f6368;
    font-size: 14px;
    padding-right: 1rem;
    display: none;
}
.mail-container:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0px 1px 2px 0 rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.mail-container:hover .mail-icons-left i{
    color: rgba(0,0,0,0.9);
}
.mail-container:hover .mail-icons-right{
 
    display: block;
    display: flex;
    flex-basis: 15%;
    justify-content: space-evenly;
    align-self: center;
    font-size: 14px;
    padding-right: 1rem;
}
.mail-list .mail-container .time-date{
    flex-basis: 13%;
    font-size: 13px;
    font-weight: bold;
    padding-right: 3rem;
    padding-left: 1rem;
    cursor: pointer;
}
.mail-container:hover .time-date{
   display: none;

}
.mail-container .title{
    margin-right: 2rem;
}

/* Footer */
.content-footer{
    display: flex;
    flex-flow: row nowrap;
    width: 40%;
    margin: 0px auto 0 auto;
    
    height: 30px;
    position: sticky;
    bottom: 1px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    list-style: none;
   
   
    
   
    
}
.content-footer a{
    color: #555;
}
.content-footer a:hover{
    border-bottom: 1px solid #555;
   
}

/* Tool Tip */
/* .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
/*     position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } */ 